.footer{
    background-color: var(--purple-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 4rem;
    align-items: center;
}

a, p{
    color: var(--gray-color);
}

a:hover{
    color: var(--green-color);
}